attrs==21.4.0
certifi==2021.10.8
cffi==1.15.0
cftime==1.5.1.1
charset-normalizer==2.0.12
cloudpickle==2.0.0
cryptography==35.0.0
cycler==0.11.0
cytoolz==0.11.0
dask==2022.3.0
fsspec==2022.2.0
idna==3.3
imagecodecs-lite==2019.12.3
imageio==2.6.1
importlib-metadata==4.11.3
imutils==0.5.4
iniconfig==1.1.1
locket==0.2.0
metpy==1.1.0
netCDF4==1.5.7
networkx==2.7.1
numpy==1.22.3
opencv-python>=4.5.3
packaging==21.3
pandas==1.2.3
partd==1.2.0
pint==0.18
Pillow==9.1.0
pluggy==1.0.0
pooch==1.6.0
py==1.11.0
pycparser==2.21
pyOpenSSL==22.0.0
pyparsing==3.0.7
pytest==7.1.1
pytz==2022.1
PyWavelets==1.1.1
PyYAML==5.4.1
requests==2.27.1
scikit-image==0.18.1
scipy==1.8.0
six==1.16.0
tifffile==2019.7.26.2
tomli==2.0.1
toolz==0.11.2
typing_extensions==4.1.1
urllib3==1.26.9
xarray==2022.3.0
zipp==3.7.0
