imageio==2.25.0
imutils==0.5.4
metpy==1.4.0
netCDF4==1.6.2
numpy==1.24.2
opencv-python>=4.7.0
pandas==1.5.2
pint==0.20.1
pytest==7.2.1
PyYAML==6.0
scikit-image==0.19.3
scipy==1.9.3
xarray==2023.1.0
scikit-learn>=1.2.1
eofs>=1.4.0
