alabaster==0.7.12
appnope @ file:///Users/runner/miniforge3/conda-bld/appnope_1610094673091/work
argon2-cffi @ file:///Users/runner/miniforge3/conda-bld/argon2-cffi_1633990540850/work
astroid @ file:///Users/runner/miniforge3/conda-bld/astroid_1623108643652/work
async-generator==1.10
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1640799537051/work
Babel @ file:///home/conda/feedstock_root/build_artifacts/babel_1619719576210/work
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1629908509068/work
brotlipy==0.7.0
Cartopy @ file:///opt/concourse/worker/volumes/live/4d8013a2-dc98-4cf8-40aa-334b74cc784c/volume/cartopy_1612289790150/work
certifi==2021.5.30
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1631636289072/work
cftime @ file:///Users/runner/miniforge3/conda-bld/cftime_1632539805390/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1641584610847/work
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1631273254894/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography_1634230548203/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
cytoolz==0.11.0
dask @ file:///home/conda/feedstock_root/build_artifacts/dask-core_1614995065708/work
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1628958435052/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
docutils @ file:///Users/runner/miniforge3/conda-bld/docutils_1618676290367/work
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1605121927639/work/dist/entrypoints-0.3-py2.py3-none-any.whl
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1609836280497/work
imageio @ file:///home/conda/feedstock_root/build_artifacts/imageio_1640778033138/work
imagesize @ file:///home/conda/feedstock_root/build_artifacts/imagesize_1636492669893/work
importlib-metadata @ file:///Users/runner/miniforge3/conda-bld/importlib-metadata_1630267508721/work
importlib-resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1635615662634/work
imutils @ file:///Users/runner/miniforge3/conda-bld/imutils_1604238863084/work
iniconfig @ file:///home/conda/feedstock_root/build_artifacts/iniconfig_1603384189793/work
ipykernel @ file:///Users/runner/miniforge3/conda-bld/ipykernel_1620913000583/work/dist/ipykernel-5.5.5-py3-none-any.whl
ipython @ file:///Users/runner/miniforge3/conda-bld/ipython_1609697642766/work
ipython-genutils==0.2.0
ipywidgets @ file:///home/conda/feedstock_root/build_artifacts/ipywidgets_1631590360471/work
isort @ file:///home/conda/feedstock_root/build_artifacts/isort_1636447814597/work
jedi @ file:///Users/runner/miniforge3/conda-bld/jedi_1605054535037/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1636510082894/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1633637554808/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema_1634752161479/work
jupyter @ file:///Users/runner/miniforge3/conda-bld/jupyter_1611872087343/work
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1637611911738/work
jupyter-console @ file:///home/conda/feedstock_root/build_artifacts/jupyter_console_1616560109969/work
jupyter-core @ file:///Users/runner/miniforge3/conda-bld/jupyter_core_1631852811445/work
jupyterlab-pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1601375948261/work
jupyterlab-widgets @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_widgets_1631590465624/work
kaleido @ file:///home/conda/feedstock_root/build_artifacts/python-kaleido_1615204619408/work
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1624925814814/work
latexcodec @ file:///home/conda/feedstock_root/build_artifacts/latexcodec_1592937263153/work
lazy-object-proxy @ file:///Users/runner/miniforge3/conda-bld/lazy-object-proxy_1616507000310/work
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1621455726881/work
matplotlib @ file:///Users/runner/miniforge3/conda-bld/matplotlib-suite_1611858675358/work
mccabe==0.6.1
mistune @ file:///Users/runner/miniforge3/conda-bld/mistune_1624941345278/work
more-itertools @ file:///home/conda/feedstock_root/build_artifacts/more-itertools_1637732846337/work
mypy @ file:///home/conda/feedstock_root/build_artifacts/mypy_1613760123084/work
mypy-extensions @ file:///Users/runner/miniforge3/conda-bld/mypy_extensions_1610127198918/work
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1637327213451/work
nbconvert @ file:///Users/runner/miniforge3/conda-bld/nbconvert_1605401853753/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1617383142101/work
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1638419302549/work
netCDF4 @ file:///opt/concourse/worker/volumes/live/b2a17f03-1731-422e-76a1-b17de5e86f7f/volume/netcdf4_1624383295147/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1635253012265/work
notebook @ file:///Users/runner/miniforge3/conda-bld/notebook_1616419274268/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1626681957552/work
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
pandas==1.1.5
pandocfilters @ file:///home/conda/feedstock_root/build_artifacts/pandocfilters_1631603243851/work
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1595548966091/work
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1632667180946/work
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1602535608087/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1630696638000/work
Pint @ file:///home/conda/feedstock_root/build_artifacts/pint_1630435029884/work
plotly==4.9.0
pluggy @ file:///Users/runner/miniforge3/conda-bld/pluggy_1631522783974/work
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1635538335951/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1639065841292/work
psutil @ file:///Users/runner/miniforge3/conda-bld/psutil_1618863828932/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
py @ file:///home/conda/feedstock_root/build_artifacts/py_1636301881863/work
pybtex @ file:///home/conda/feedstock_root/build_artifacts/pybtex_1638467081712/work
pybtex-docutils @ file:///Users/runner/miniforge3/conda-bld/pybtex-docutils_1627685531938/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1641580240686/work
pylint @ file:///Users/runner/miniforge3/conda-bld/pylint_1614725378851/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1633192417276/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1636757021002/work
PyQt5==5.12.3
PyQt5_sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
pyrsistent @ file:///Users/runner/miniforge3/conda-bld/pyrsistent_1624984839528/work
pyshp @ file:///home/conda/feedstock_root/build_artifacts/pyshp_1610646860606/work
PySocks @ file:///Users/runner/miniforge3/conda-bld/pysocks_1610291492528/work
pytest==6.2.5
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1633452062248/work
PyWavelets @ file:///Users/runner/miniforge3/conda-bld/pywavelets_1630699953128/work
PyYAML==5.4.1
pyzmq @ file:///Users/runner/miniforge3/conda-bld/pyzmq_1631793564616/work
qtconsole @ file:///home/conda/feedstock_root/build_artifacts/qtconsole-base_1640876679830/work
QtPy @ file:///home/conda/feedstock_root/build_artifacts/qtpy_1640200777318/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1641580202195/work
retrying==1.3.3
scikit-image==0.16.2
scikit-learn @ file:///opt/concourse/worker/volumes/live/5aebc36a-9e26-4cf4-48a2-103c2e39086d/volume/scikit-learn_1598376928019/work
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy_1629411671650/work
Send2Trash @ file:///home/conda/feedstock_root/build_artifacts/send2trash_1628511208346/work
Shapely==1.7.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
snowballstemmer @ file:///home/conda/feedstock_root/build_artifacts/snowballstemmer_1637143057757/work
Sphinx @ file:///home/conda/feedstock_root/build_artifacts/sphinx_1631441663856/work
sphinx-gallery @ file:///home/conda/feedstock_root/build_artifacts/sphinx-gallery_1632552915459/work
sphinx-rtd-theme @ file:///home/conda/feedstock_root/build_artifacts/sphinx_rtd_theme_1631863601352/work
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-bibtex @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-bibtex_1631536377538/work
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-htmlhelp_1621704829796/work
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-serializinghtml_1637000050264/work
statsmodels @ file:///Users/runner/miniforge3/conda-bld/statsmodels_1610414686215/work
terminado @ file:///Users/runner/miniforge3/conda-bld/terminado_1631128198386/work
testpath @ file:///home/conda/feedstock_root/build_artifacts/testpath_1621261527237/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1633102299089/work
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1604308577558/work
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1636177962100/work
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1625489145822/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1631041982274/work
typed-ast @ file:///Users/runner/miniforge3/conda-bld/typed-ast_1618337636826/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1638334978229/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1641584929973/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
webencodings==0.5.1
widgetsnbextension @ file:///Users/runner/miniforge3/conda-bld/widgetsnbextension_1605475527209/work
wrapt @ file:///Users/runner/miniforge3/conda-bld/wrapt_1624972036463/work
xarray @ file:///home/conda/feedstock_root/build_artifacts/xarray_1621474818012/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1641731510635/work
